html {
    scroll-behavior: smooth;
}

.right {
    margin-left: 440px;
}

.left {
    margin-left: 340px;
}

body{
    background-color: #f8f7f7;
}


.painting {
    background-color: rgb(199, 214, 230);
    transition: background-color 0.4s ease, color 0.2s ease;
}

.contact {
    background-color: rgba(241, 234, 234, 0.904);
    transition: background-color 0.4s ease, color 0.2s ease;
}

.textEmail, .textPhone, .textLinkedIn, .textAddress{
    color:rgb(99, 98, 98);
    transition: background-color 0.4s ease, color 0.2s ease;
}

.summary {
    background-color: rgb(245, 244, 244);
    transition: background-color 0.4s ease, color 0.2s ease;
}

.dark-mode .painting, .dark-mode .contact, .dark-mode .summary{
    border-color: #fefefe 2px;
    background-color: rgb(78, 79, 80);
}

.dark-mode .textEmail, .dark-mode .textPhone,
.dark-mode  .textLinkedIn, .dark-mode .textAddress{
    color:rgb(243, 243, 243);
}

.spacer {
    margin-top: 260px;
}

.spacer2{
    margin-top: 320px;
}

.successText{
    color: rgb(26, 160, 14);
}

.checkmark{
    width: 100px; 
    height: auto;
    background-color: transparent;
}

.foot {
    background-color: rgb(236, 236, 236);
    transition: background-color 0.4s ease, color 0.4s ease; /* Smooth transition */
}

.foot a, .foot p{
    color: rgb(110, 110, 110);
}

.home-img img {
    box-shadow: 7px 7px 29px 20px rgba(60, 61, 61, 0.171);
    transition: transform 0.3s ease-in-out;
    /* Smooth transition for hover effect */
}

.home-img img:hover {
    transform: translateY(-15px);
    /* Moves the image 10px up on hover */
    box-shadow: 8px 8px 29px 28px rgba(60, 61, 61, 0.171);
    
}

.services_wrapper .card {
    background-color: var(--bg-light);
    cursor: pointer;
    --webkit-transition: all .4s ease 0s;
    --o-transition: all .4s ease 0s;
    --ms-transition: all .4s ease 0s;
    --moz-transitionL: all .4s ease 0s;
    transition: all .4s ease 0s;
}

.services_wrapper .card:hover {
    box-shadow: 1rem 0.9975rem 1.975rem rgb(77 87 222 / 30%);
    background: var(--bg-white);
}

/* PORTFOLIO SECTION */

.portfolio_wrapper .nav-link {
    font-size: 0.9375rem;
    font-weight: 500;
    margin-right: 0.25rem;
    color: var(--text-black);
    text-transform: uppercase;
    border: 1px lightgrey solid;
    background-color: rgb(223, 221, 221);

}

.portfolio_wrapper .nav-link:hover {
    background-color: rgb(199, 200, 201);
}

.portfolio_wrapper .nav-link.active {
    color: var(--secondary-text);
    background-color: rgb(155, 202, 255);
}

.dark-mode .portfolio_wrapper .nav-link {
    color: #353434;
}

.portfolio_wrapper .portfolio-img {
    position: relative;
    cursor: pointer;
}

.portfolio_wrapper .portfolio-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    transition: all .4s ease 0s;

}

.portfolio_wrapper .portfolio-img:hover .overlay {
    background: rgba(77, 87, 222, .5);

}

.portfolio_wrapper .portfolio-img:hover .overlay i {
    font-size: 3.25rem;
    color: var(--text-white);
    position: absolute;
    top: 25%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .4s eas 0s;
    -o-transition: all .4s eas 0s;
    -ms-transition: all .4s eas 0s;
    -moz-transition: all .4s eas 0s;
    transition: all .4s eas 0s;
}

.portfolio_wrapper .portfolio-img:hover .overlay i {
    opacity: 1;
    visibility: visible;
    top: 50%;
    left: 50%;
}

.portfolio_wrapper .portfolio-img h5 {
    background-color: #7d7e4a;

}

.navbar {
    height: 68px;
    /* Adjust based on your navbar height */
    background-color: #fafafa;
    transition: background-color 0.4s ease, color 0.4s ease; /* Smooth transition */
}

.navbar a.nav-link {
    color: #0f6fff;
}

.navbar a.nav-link:hover {
    color: #0035a8;
}

.navbar a.nav-link.active {
    color: #000000;
}

.collapse {
    background-color: #fdfdfd;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.navbar-brand {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.navbar-brand .logo {
    height: 68px;
    /* Desired height of the logo */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 68%;
}

.navbar-brand:hover {
    transform: scale(1.07);

}

body {
    transition: background-color 0.4s ease, color 0.4s ease;
}


.dark-mode {
    background-color: #272727ea;
    color: #ffffff;
    transition: background-color 0.4s ease, color 0.4s ease;
    /* Smooth transition */
}

.dark-mode .navbar,
.dark-mode .footer,
.dark-mode .collapse{
    background-color: #424242;
    transition: background-color 0.4s ease, color 0.4s ease;
    /* Smooth transition */
}

.dark-mode .home-img img {
    background-color: white;
}

.dark-mode .navbar a.nav-link {
    color: #6aa4fc;
    /* White links */
    transition: 0.4s ease;
}

.dark-mode .navbar a.nav-link:hover {
    color: #3b87faef;
    /* Light blue hover color */
    border-color: rgb(255, 255, 255);
}

body.dark-mode .navbar a.nav-link.active {
    color: #000000; /* White for active link in dark mode */
    transition: color 0.3s ease;
}

.introText {
    color: #586066;
    /* This is the muted color (text-muted) */
    transition: color 0.3s ease;
    /* Smooth transition for color change */
}

/* Dark mode paragraph style */
body.dark-mode .introText{
    color: #ffffffda;
    /* White text for dark mode */
}

.dark-mode .foot a, .dark-mode .foot p{
    color: #dadadaad;
}

.dark-mode .customPanel {
    background-color: rgb(236, 236, 236);
}



.dark-mode .btn-outline-primary {
    color: #ffffff;
    /* White text */
    border-color: #ffffff;
    /* White border */
    transition: color 0.4s ease, border-color 0.4s ease;
}

.dark-mode .btn-outline-primary:hover {
    background-color: #ffffff;
    /* White background on hover */
    color: #424242;
    /* Dark text */
    border-color: #ffffff;
    /* Keep border white */
}

.progress-bar {
    width: 0;
    /* Start with no width */
    transition: width 5s ease;
    /* Smoothly animate width */
}

.progress-bar[data-aos="progress-bar"].aos-animate {
    width: var(--progress-width);
    /* Animate to this value */
}

.projectBtn {
    transition: 0.3s !important;
    /* Smooth transition for background and hover effects */
}

.projectBtn:hover {
    background-color: #b31d2f;
    /* Darker red background on hover */
}