.right {
    margin-left: 440px;
}

.left {
    margin-left: 340px;
}

.painting {
    background-color: rgb(199, 214, 230);
}

.spacer {
    padding-bottom: 170px;
}

.contact {
    background-color: rgb(238, 233, 233);
}

.foot {
    background-color: rgb(236, 236, 236);
}

.services_wrapper .card {
    background-color: var(--bg-light);
    cursor: pointer;
    --webkit-transition: all .4s ease 0s;
    --o-transition: all .4s ease 0s;
    --ms-transition: all .4s ease 0s;
    --moz-transitionL: all .4s ease 0s;
    transition: all .4s ease 0s;

}

.services_wrapper .card:hover {
    box-shadow: 1rem 0.9975rem 1.975rem rgb(77 87 222 / 30%);
    background: var(--bg-white);
}


/* PORTFOLIO SECTION */



.portfolio_wrapper .nav-link {
    font-size: 0.9375rem;
    font-weight: 500;
    margin-right: 0.25rem;
    color: var(--text-black);
    text-transform: uppercase;
    border: 1px lightgrey solid;
    background-color: rgb(223, 221, 221);
}

.portfolio_wrapper .nav-link:hover {
    background-color: rgb(199, 200, 201);
}

.portfolio_wrapper .nav-link.active {
    color: var(--secondary-text);
    background-color: rgb(155, 202, 255);
}

.portfolio_wrapper .portfolio-img {
    position: relative;
    cursor: pointer;
}

.portfolio_wrapper .portfolio-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    transition: all .4s ease 0s;

}

.portfolio_wrapper .portfolio-img:hover .overlay {
    background: rgba(77, 87, 222, .5);

}

.portfolio_wrapper .portfolio-img:hover .overlay i {
    font-size: 3.25rem;
    color: var(--text-white);
    position: absolute;
    top: 25%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .4s eas 0s;
    -o-transition: all .4s eas 0s;
    -ms-transition: all .4s eas 0s;
    -moz-transition: all .4s eas 0s;
    transition: all .4s eas 0s;
}

.portfolio_wrapper .portfolio-img:hover .overlay i {
    opacity: 1;
    visibility: visible;
    top: 50%;
    left: 50%;
}

.portfolio_wrapper .portfolio-img h5 {
    background-color: #49308e;

}

.navbar {
    height: 68px; /* Adjust based on your navbar height */
  }
  
.navbar-brand {
    position: relative;
  }
  
.navbar-brand .logo {
    height: 68px; /* Desired height of the logo */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 70%;

  }


  